<div id="header">
	Account Angular 2
	<button type="button" class="btn btn-primary">Ajouter</button>
</div>

<div id="container">

	<div id="container-left">
		<div class="item">Income</div>
		<div class="item">Spend Trackers</div>
	</div>

	<div id="container-right">
		<div id="filters">
			<div class="filter">FILTERS</div>
			<div *ng-for="#category of categories">
				<div class="filter">
			    	<input type="checkbox" [checked]="category.ckecked" (click)="addToCategoriesSelected(category)"/> <span>{{category.text}}</span>
			    </div>
			</div>
		</div>
		<div id="expenses-list">
			<div class="item" *ng-for="#expense of expensesListToShow">
				<div class="date">{{expense.date}}</div>
				<div class="type">{{expense.typeOfSpending}}</div>
				<div class="account">{{expense.account}}</div>
				<div class="description">{{expense.description}}</div>
				<div class="amount">{{expense.amount}}</div>
			</div>
		</div>
	</div>

</div>