<!-- <button (click)="toggle()" type="button" class="btn btn-primary">Ajouter</button>

<form [hidden]="!visible" [ng-form-model]='appForm' [class.invalid]='!appForm.valid'>
	<p [class.has-success]='appForm.controls.description.valid'>Description : <input type='text' ng-control='description'></p>
	<p [class.has-success]='appForm.controls.typeOfSpending.valid'>Type : <input type='text' ng-control='typeOfSpending'></p>
	<p [class.has-success]='appForm.controls.date.valid'>Date : <input type='date' ng-control='date'></p>
	<p [class.has-success]='appForm.controls.amount.valid'>Montant : <input type='number' ng-control='amount'></p>
	<button (click)='onSubmit($event)'>Login</button>
</form> -->


<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>

<div class="row" id="containerForm">
    <form class="col s12" id="blocForm">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Placeholder" id="first_name" type="text">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate">
          <label (click)="labbel()" [class.active]="labbel" for="last_name">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input disabled value="I am not editable" id="disabled" type="text" class="validate">
          <label for="disabled">Disabled</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
    </form>
  </div>
        
<!-- [hidden]="!visible" -->
<!-- 
<div class="row" id="containerForm">
    <form id="blocForm" class="col s12" [ng-form-model]='appForm' [class.invalid]='!appForm.valid'>
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="parfums" id="description" type="text" class="validate" ng-control='description'>
          <label for="description" [class.has-success]='appForm.controls.description.valid'>Description</label>
        </div>
        <div class="input-field col s6">
          <input placeholder="cadeaux" id="typeOfSpending" type="text" class="validate" ng-control='typeOfSpending'>
          <label for="typeOfSpending" [class.has-success]='appForm.controls.typeOfSpending.valid'>Type</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="01/01/2015" id="date" type="date" class="validate" ng-control='date'>
          <label for="date" [class.has-success]='appForm.controls.date.valid'>Date</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="55" id="amount" type="number" class="validate" ng-control='amount'>
          <label for="amount" [class.has-success]='appForm.controls.amount.valid'>Montant</label>
        </div>
      </div>
      <div class="row">
        <button (click)='onSubmit($event)'>Login</button>
      </div>
    </form>
</div> -->