<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>

<div class="row" id="containerForm">
    <form id="blocForm" class="col s12" [hidden]="!visible" [ng-form-model]='appForm' [class.invalid]='!appForm.valid'>
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="parfums" id="description" type="text" class="validate" ng-control='description'>
          <label for="description" [class.has-success]='appForm.controls.description.valid'>Description</label>
        </div>
        <div class="input-field col s6">
          <input placeholder="cadeaux" id="typeOfSpending" type="text" class="validate" ng-control='typeOfSpending'>
          <label for="typeOfSpending" [class.has-success]='appForm.controls.typeOfSpending.valid'>Type</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="01/01/2015" id="date" type="date" class="validate" ng-control='date'>
          <label for="date" [class.has-success]='appForm.controls.date.valid'>Date</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="55" id="amount" type="number" class="validate" ng-control='amount'>
          <label for="amount" [class.has-success]='appForm.controls.amount.valid'>Montant</label>
        </div>
      </div>
      <div class="row">
        <button (click)='onSubmit($event)'>Login</button>
      </div>
    </form>
</div>